* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(
    252.44deg,
    #292929 50%,
    rgba(34, 34, 34, 0.8) 100%
  );
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(
    159.66deg,
    rgba(15, 15, 15, 0.884) 27.04%,
    #030303 74.62%
  );
  z-index: 50;
}

.content-main {
  mix-blend-mode: normal;
  z-index: 999;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  height: 60px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-mobile {
  display: none;
  width: 40px;
  height: 32px;
  cursor: pointer;
  padding: 6px 0;
}

.menu-mobile span {
  display: block;
  width: 100%;
  height: 3px;
  background: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 6px;
}

.menu-mobile .line-2 {
  width: 70%;
}

.menu-mobile .line-3 {
  margin-bottom: 0;
}

nav {
  display: flex;
  gap: 32px;
}

ul {
  display: flex;
  gap: 32px;
}

li > a {
  font-size: 18px;
}
li > a:hover {
  transition: 1s;
  color: #d6a322;
}

.icons {
  display: flex;
  gap: 16px;
}

h1 {
  text-transform: uppercase;
  font: 600 72px "Poppins";
  line-height: calc(72px * 1.1);
  color: #d6a322;
  margin-bottom: 16px;
}

p {
  line-height: calc(16px * 1.5);
  margin-bottom: 24px;
}

.button {
  z-index: 999;
  position: absolute;
  padding: 12px 70px;
  font: 500 16px 'Poppins';
  border: none;
  color: #222;
  background: #d6a322;
  cursor: pointer;
  transition: 0.5s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: none;
  border: 2px solid #d6a322;
}

.button:hover {
  -moz-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
}

.grid {
  display: grid;
  grid-template-columns: 120px auto 120px;
}

.content {
  grid-column: 2/3;
  display: flex;
  gap: 200px;
  align-items: center;
}

.content-text {
  max-width: 600px;
}

.img-whisky {
  transform: rotate(-20deg);
  filter: drop-shadow(50px 100px 200px #111111);
}

footer {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    height: auto;
    overflow-y: scroll;
  }

  .container {
    height: auto;
  }

  header {
    padding: 0 32px;
    margin-bottom: 84px;
  }

  .menu-mobile {
    display: block;
  }

  .logo img {
    width: 200px;
  }

  nav ul {
    display: none;
  }

  nav .icons {
    display: block;
  }

  nav .search {
    display: none;
  }

  mmain {
    margin-bottom: 84px;
  }

  .grid {
    grid-template-columns: 32px auto 32px;
  }

  .content {
    flex-direction: column;
    gap: 56px;
  }

  .content-text {
    order: 2;
    margin-bottom: 84px;
  }

  .content-img {
    order: 1;
  }

  h1 {
    text-transform: uppercase;
    font: 600 40px "Poppins";
    line-height: calc(40px * 1.2);
    color: #d6a322;
    margin-bottom: 16px;
  }

  p {
    line-height: calc(16px * 1.5);
    margin-bottom: 24px;
  }

  .button {
    z-index: 999;
    position: absolute;
    padding: 12px 70px;
    font: 500 16px 'Poppins';
    border: none;
    color: #222;
    background: #d6a322;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .img-whisky {
    width: 150px;
  }

  footer {
    color: rgb(163, 163, 163);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(163, 163, 163);
    margin-top: 32px;
  }
}
